
<div id="carrito">
    <section class="productos-agregados">

        <ng-container *ngFor="let producto of productosAgregados; trackBy: trackById">
            <div class="contendeorProducto">
                <div class="cabecera">
                    <img [src]="producto.img" class="card-img-top" alt="imagen del producto" class="card-img-top">
                    <h5 class="card-title">{{producto.name}}</h5>
                </div>
                <div class="body">
                    <p>{{ producto.price | currency }}</p>
                    <button class="btn" (click)="eliminarProducto(producto)">Eliminar</button>
                </div>
            </div>
        </ng-container>

    </section>

    <section class="detalles-compra">
            <div class="informacion">
            <p class="info">
                Productos: {{totalProductos()}}
            </p>

            <p class="info">
                Total: {{totalMonto() | currency}}
            </p>

            <button id="btn-finalizar">
                <a href="/singUp">Finalizar Compra</a>
            </button>
        </div>
    </section>
</div>

