
<header>
  
  <div id="logo">
    <img src="img/imagen.png" alt="imagen" height="90px" class="imagen">
    <img src="img/Titulo.png" alt="titulo" height="60px">
  </div>

    <ul class="navegacion">
      <li><a href='home'>Home</a></li>
      <li><a href='productos'>Productos</a></li>
      <li><a href='miCarrito'>Carrito</a></li>
      <li><a href='singUp'>Registrarse</a></li>
    </ul>

</header>

<div id="productos">
  <router-outlet> </router-outlet>
</div>

<footer>
    <section class="footer-content">
      <h3>Contacto</h3>
      <p>Correo: monikiOficial&#64;gmail.com</p>
      <p>Teléfono: 123456789</p>
      <p>Horarios: Lunes a Viernes, 9:00 AM - 6:00 PM</p>
    </section>
</footer>

